@import url(./style2.css);

/* body {
  background-color: aquamarine;
}
h1 {
  color: red;
  background-color: black;
} */

/* .blackBox {
  background-color: black;
  width: 120px;
  height: 120px;
  display: inline-block;
}

.whiteBox {
  background-color: white;
  width: 120px;
  height: 120px;
  display: inline-block;
}

img {
  position: absolute;
  right: 430px;
  top: 150px;
}

img {
  position: relative;
  top: -120px;
  left: 290px;
} */

/* .text1 {
  background-color: red;
  width: 250px;
  height: 50px;
  float: left;
}

.text2 {
  background-color: blue;
  width: 150px;
  float: left;
  height: 50px;
}

.text3 {
  background-color: green;
  width: 230px;
  float: left;
  height: 50px;
}

.text4 {
  background-color: yellowgreen;
  width: 230px;
  float: left;
  height: 50px;
}

p {
  clear: both;
} */
