*{
    background-color: aqua;
}


/* Type Selector */



h1,h2,h3{
    color: red;
    background-color: black;
}

h1{
    color: red;
    background-color: black;
}

h2{
    color: white;
    background-color: black;
}

h3{
    color: greenyellow;
    background-color: black;
}

p{
    color: green;
}



/* Class Selector */



.h1{
    color: blue;
}



.h3{
    color: blueviolet;
}




/* Id Selector */



#h1{
    color: blue;
}


#h3{
    color: blueviolet;
}


/* Child Selector */



div>p{
    color: green;
    background-color: black;
} 



ol>li{
    color: rgb(31, 43, 18);
}


/* Descendant Selector */




ol li{
    color: red;
    background-color: black;
}




/* Adjacent Sibling Selector */



h1~p{
    color: white;
    background-color: black;
} 





#container>h1{
    color: rgba(58, 214, 15,0.5);
    background-color:  hsla(0, 0%, 0%,0.5);
}

#container>p{
    color: purple;

}

/* rgb ===> red,green,blue */

/* hex codes ===>  #123456*/

/* hsl ====> hue,saturation,lightness */

